.cart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    height: 50px;
}

.cartItem {

    width: 700px;
    margin-top: 100px;
    height: 250px;
    display: flex;
   
    align-items: center;
    margin: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.cartItem img {

    width: 200px;
}

.cartItem .description {
    width: 100%;
    font-size: 30px;
}
.cartItem .description p{
    padding: 5px;
}
.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout p {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 5px;

}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

